<section class='features p100px'>
  <div class='container'>
    <h2 class='features_header center'>Features We offer</h2>
    <div class='features_cards'>
      <div class="features_card">
        <img src="../../../../assets/image/web.png" alt="web icon">
        <p>Create UTM links with a custom domain to build trust and increase clickability</p>
      </div>
      <div class="features_card">
        <img src="../../../../assets/image/success.png" alt="success icon">
        <p>Simplify your process by saving templates for generating UTM URL links</p>
      </div>
      <div class="features_card">
        <img src="../../../../assets/image/email.png" alt="email icon">
        <p>Add UTM parameters for HTML emails</p>
      </div>
      <div class="features_card">
        <img src="../../../../assets/image/speed.png" alt=" speed icon">
        <p>Get your personal dashboard where you can analyze UTM params performance</p>
      </div>
    </div>
  </div>
</section>