<section class="mt30px">
  <div class="container">
    <div class="about_form_wr mb100px">

      <div class="about_wr">
        <h2 class="about_header mb30px">{{'ABOUT.SEC_FIRST.HEADER' | translate}}</h2>
        <p class="about_desc mb30px">{{'ABOUT.SEC_FIRST.DESCR' | translate}}</p>
        <button class="btn">{{'ABOUT.SEC_FIRST.BTN' | translate}}</button>
      </div>

      <div class="form_wr">
        <p class="form_p mb20px">{{'ABOUT.SEC_SECND.DESC_F' | translate}}</p>
        <h3 class="form_header mb10px">{{'ABOUT.SEC_SECND.HEADER' | translate}}</h3>
        <hr class="mb20px">
        <p class="form_p mb20px">{{'ABOUT.SEC_SECND.DESC_S' | translate}}</p>
        <form class="form">
          <div>
            <label for="url" >{{'ABOUT.SEC_SECND.FORM.FIELD_ONE.NAME' | translate}}</label>
            <input type="text" name='url' id="url" placeholder="{{'ABOUT.SEC_SECND.FORM.FIELD_ONE.PLACEHOLDER' | translate}}">
          </div>
          <div>
            <label for="source">{{'ABOUT.SEC_SECND.FORM.FIELD_TWO.NAME' | translate}}</label>
            <input type="text" name='source' id="source" placeholder="{{'ABOUT.SEC_SECND.FORM.FIELD_TWO.PLACEHOLDER' | translate}}">
          </div>
          <div>
            <label for="medium">{{'ABOUT.SEC_SECND.FORM.FIELD_THREE.NAME' | translate}}</label>
            <input type="medium" name='medium' id="medium" placeholder="{{'ABOUT.SEC_SECND.FORM.FIELD_THREE.PLACEHOLDER' | translate}}">
          </div>
          <div>
            <label for="name">{{'ABOUT.SEC_SECND.FORM.FIELD_FOUR.NAME' | translate}}</label>
            <input type="text" name='name' id="name" placeholder="{{'ABOUT.SEC_SECND.FORM.FIELD_FOUR.PLACEHOLDER' | translate}}">
          </div>
          <button type="button" class="form_btn mb20px">{{'ABOUT.SEC_SECND.BTN' | translate}}</button>
        </form>
        <div class="alert-mess">
          <i class="bi bi-exclamation-circle"></i>
          <p>{{'ABOUT.SEC_SECND.ALERT' | translate}}</p>
        </div>
      </div>

    </div>
  
    <div class="about_descr">
      <p class="descr_header center mb30px">For more comprehensive features we offer our services.</p>
      <p class="mb20px center">For more comprehensive features we offer our services.
        We help you to build and synchronize UTMs as well as UTM templates (?) in between your departments. This will make tracking and sharing your UTMs across your entire marketing team easy. Also you will track much more accurate campaign data and analyze the performance of content across the web. 
      </p>
      <p class='center'>Instead of using messy spreadsheets and reentering the same details, you will have a tool that will help you get good campaign data in your analytics.</p>
    </div>
  
    <div class='about_icons'>
      <div>
        <img src="../../../../assets/image/click 1.png" alt="click">
        <h4>Increase clickability </h4>
      </div>
      <div>
        <img src="../../../../assets/image/magnifying-glass 1.png" alt="clock">
        <h4>Save your time and optimize daily processes</h4>
      </div>
      <div>
        <img src="../../../../assets/image/share 1.png" alt="circle">
        <h4>Syncs your UTMs with your team</h4>
      </div>
    </div>
  </div>
  <div class='about-radius'></div>
</section>