<section class="p100px">
  <div class="container">
    <h2 class="whywe_header center">Why us?</h2>
    <div class="whywe_cards">
      <div class="whywe_card">
        <img  src="../../../../assets/image/chat (5) 1.png" alt="chat icon">
        <h4>Support</h4>
        <p>If you have any questions regarding our service, we will respond in the next 72 hours.</p>
      </div>
      <div class="whywe_card">
        <img src="../../../../assets/image/save-money 1.png" alt="save money icon">
        <h4>Affordable</h4>
        <p>We take away manual work and optimize the process so you can focus on more strategic goals.</p>
      </div>
      <div class="whywe_card">
        <img src="../../../../assets/image/puzzle 1.png" alt="puzzle icon">
        <h4>New features</h4>
        <p>We continue growing the functionality in order to take away the most boring part of work from you.</p>
      </div>
    </div>
  </div>
</section>