@import '../../../app.component.scss';

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

.btn_back {
  display: flex;
  justify-content: flex-start;
  padding: 5px 15px ;
  border: none;
  border-radius: 10px;
  background: $back-gr-purple;
  color: $font-white;
  cursor: pointer;  
  font-size: 16px;
  transition: .3s;
  &:hover {
    background: rgb(148, 119, 255);
  }
}